.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    padding: 20px;

}

.logout {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.search {
    display: flex;
    align-items: center;
}

.search input {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
}

.table {
    margin-top: 20px;
    width: 100%;
}

.table table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 15px;
    border: 1px solid #ddd;
    text-align: left;
}
