@keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 50% 0; }
}

.container {
  background-size: 200% 100%;
  background-repeat: no-repeat;
  animation: animatedBackground 100s linear infinite;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    background-image: url('../../../assets/_874a1455-1f5e-47f8-a6d5-d7e4ba0b577d.jpg');
    height: 100vh;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 10px;
    text-align: center;
}

.image {
    border-radius: 50%;
    position: relative;
    width: 150px;
    height: 150px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid white;
}


.title {
    color: grey;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
    margin: 5px;
}

a:hover {
    opacity: 0.7;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    width: 300px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

button {
    width: 200px;
    height: 40px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #005cbf;
}