.container {
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px;
  border: 2px solid white;
  height: 900px;
  background-image: url('../../../assets/_18bec115-9d17-4d52-94aa-713b3a4fd003.jpg');
  border-style: inset;
  border-color: rgb(34, 214, 214);
  box-sizing: border-box;
  
}

.welcome, .signup {
  margin: 10px;
  padding: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3), 0 4px 16px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
  z-index: 50;
  background-image: linear-gradient(to right, #e0ecfb, #a6c1ee);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.3); 
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3));
}


.welcome h1 {
  font-size: 2rem;
  color: #fff;
}

.welcome p {
  font-size: 1.2rem;
  color: #fff;
}


.signup h2 {
  font-size: 1.5rem;
  color: #fff;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

input {
  width: 300px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
  text-align: center;
}

span {
  color: red;
  font-size: 0.8rem;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin: 5px;
}

.social-icons a {
  text-decoration: none;
  padding: 10px;
  border-radius: 50%;
  color: #fff;
  margin: 5px;
}

.google {
  background-color: #dd4b39;
}

.github {
  background-color: #333;
}

.twitter {
  background-color: #55ACEE;
}

